@font-face {
    font-family: giaza;
    src: url(./Giaza.otf);
}
@font-face {
    font-family: detalles;
    src: url(./Cocogoose-Compressed-Regular-Trial.ttf);
}
@font-face {
    font-family: body;
    src: url(./Espreso\ Milk.otf);
}

body {
  color: #000;
  background-color: #fff;
}

a{ 
  text-decoration: none;
  color:white;
}
a:hover{
  color:#77A6A6;
}
a:visited{
  color:#cc9f69;
}

/*header*/
header {
  display: flex;
  font-family:detalles;
  letter-spacing: 2px;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 2.2em;
  letter-spacing: 2px;
  font-family: giaza;
  font-size: 70px;
  text-align:left;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.95em;
}
nav a:hover{
    color:#77A6A6;
}
.fechas{
  color:rgb(201, 146, 102);
}
/*slide 1*/
.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77A6A6;
  flex-wrap: wrap;
}

.slide-text {
  flex: 1;
  min-width: 280px;
  font-family: body;
}

.slide-text h2 {
  font-size: 1.8em;
  line-height: 1.4;
  margin-bottom: 25px;
  padding-left: 20px;
}

.slide img {
  width: 60%;
  min-width: 300px;
}


.btn {
  display: inline-block;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  padding: 12px 25px;
  margin-left: 20px;
  text-decoration: none;
  border-radius: 100%;
  font-weight: bold;
  font-family: detalles;
}

.btn:hover {
  background-color: white;
  color: #77A6A6;
  border-color: black;
}

/*CONOCENOS ESPACIO */
.quienes-somos {
  text-align: center;
  padding: 70px 20px;
  font-family: body;
}

.quienes-somos h3 {
  font-size: 2.3em;
  text-align:left;
  line-height: 1.6;
  margin-bottom: 25px;
  font-family: detalles;
}
.btn-conoce{
  color: black;
  background-color: #77A6A6;
  display: inline-block;
  letter-spacing: 2px;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 100%;
  font-weight: bold;
  font-family: detalles;
}
.btn-conoce:hover{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-color: black;
}
.creaciones {
  background-color: #ffffff;
  padding: 40px 20px;
}
.creaciones h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 7.1em;
  letter-spacing: 1px;
  font-family: detalles;
  color:#77A6A6;
}

/* TALLERES ESPACIO */
.talleres {
  background-color: #77A6A6;
  padding: 70px 30px;
}
.talleres h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 7.1em;
  letter-spacing: 1px;
  font-family: detalles;
  color:white;
}

.taller {
  display: flex;
  align-items: center;
}

.taller img {
  width: 100%;
  height: 50%;
  background-color: #2422225e;
  filter: brightness(0.6);
}
.taller .info{
  position:absolute;
  text-align:left;
  margin:50px;
}

.taller .info h3 {
  font-size: 2.8em;
  color:white;
  letter-spacing: 2.5px;
  margin-bottom: 10px;
  font-family: detalles;
  text-align: left;
}

.taller .info p {
  font-size: 1em;
  line-height: 1.5;
  font-family: body;
  color:white;
}

.talleres-secundarios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.talleres-secundarios .taller {
  position:relative;
  height: 500px;
  width: 50%;
  overflow:hidden;
}

.talleres-secundarios img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  max-width:none;
}

/*  EJEMPLO DE TARJETAS MAGDALENA: */

#ejemplo-tarjetas{
  height: 600px;
  width: 100%;
  display:flex;
  background-color:#77A6A6;
}
.tarjetas0, .tarjetas1, .tarjetas2{
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 252, 252);
  width: 33%;
  display:flex;
  flex-direction: column;
  margin: 60px;
  padding: 60px;
}
/* tarjeta 1 */ 
.tarjetas0 {
  background-color: #c7588f;
}
.tarjetas0:hover{
  background-color: #ff75ba;
  border-color: #c7588f;
}
/* tarjeta 2 */
.tarjetas1 {
  background-color:#cc9f69;
}
.tarjetas1:hover{
  background-color:#dfb683;
  border-color: #cc9f69;
}
/* tarjeta 3 */
.tarjetas2 {
  background-color:#94b69f;
}
.tarjetas2:hover{
  background-color:#add6ba;
  border-color: #94b69f;
}

.tarjetas-texto {
  font-family: detalles;
  color: #ffffff;
  font-size: 2.3em;
  letter-spacing: 2px;
  text-align: center;
}
.tarjetas-cuerpo {
  font-family: body;
  font-size: 1em;
  text-align: center;
}
.tarjetas-button{
  padding:20px;
  color: white;
  background-color: black;
  font-family: detalles;
  border-radius: 100%;
  font-size: 1em;
  letter-spacing: 2px;
}
.tarjetas-button:hover{
  color: black;
}

  .espacio-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-width: 900px;
    margin: auto;
  }

  .espacio-galeria img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Para que todas tengan la misma altura */
  }

/* CONTACTO ESPACIO */
.contacto {
  background-color: #070707;
  padding: 70px 30px;
  text-align: center;
}
.contacto-contenedor{
  display: flex;
  flex-direction: row;
}
.contacto-contenedor img{
  width: 45%;
}

.contacto h2 {
  margin-bottom: 20px;
  font-size: 7.1em;
  font-family: detalles;
  letter-spacing: 2px;
  text-align: left;
  color: white;

}

.contacto p {
  line-height: 1.6;
  font-size: 2em;
  font-family: body;
  text-align: left;
  color: white;
  
}

.datos {
  margin-top: 35px;
  line-height: 1.8;
}

.datos p {
  font-size: 1em;
  font-family: body;
}

/* footer */ 
.footer-completo{
  text-align: center;
  font-size: 0.85em;
  padding: 25px;
  font-family: body;
  display:flex;
  flex-direction: wrap;
}
.listado{
  display:flex;
  flex-direction: column;
  align-items:left;
  width: 33%;

}
.copyright{
  background-color: #77A6A6;
  font-family: body;
  text-align: center;
}
.menu-footer{
  align-items: center;
  display: flex;
  flex-direction:column;
}
.navegacion-menu{
  display: flex;
  flex-wrap: nowrap;
}
.navegacion-menu li{
  text-align:center;
}
.texto-descripcion{
  text-align: left;
  font-size: 12px;
}
.texto-descripcion1{
  width: 33ch;
  text-align: left;
  font-size:12px;
}
i{
  color: #77A6A6;
}
i a {
  text-decoration: none;
  color:#000;
  cursor:pointer;
}
i a:hover{
  color: #77A6A6;
}

/* ----------- ESPACIO POLITICA DE PRIVACIDAD ---------------- */
.cuerpo-privacidad{
  height: AUTO;
  background-color: #77A6A6;

}
.enunciado-privacidad{
  font-family: giaza;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 26px;
}
.titulo-apartados{
  font-family: detalles;
  letter-spacing: 2px;
  font-size: 24px;
  background-color: white;
  color:black;
  text-align: center;
}
.cuerpo{
  font-family:body;
  color:black;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  
}


/* Responsive */

/* tablet */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    text-align: center;

  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slide {
    flex-direction: column;
    text-align: center;
  }

  .slide img {
    width: 70%;
    margin-top: 20px;
  }

  .taller {
    flex-direction: column;
    text-align: center;
  }

  .taller img {
    width: 80%;
  

  .talleres-secundarios .taller {
    width: 70%;
    height: 70%;
  }
    #ejemplo-tarjetas{
  height: auto;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
  .tarjetas0, .tarjetas1, .tarjetas2{
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  display:flex;
  flex-direction:column;
  border-color: rgb(255, 252, 252);
  flex-direction: column;
  margin: 9px;
  padding: 15px;
}
  .contacto {
    padding: 60px 20px;
  }
  .navegacion-menu{
  display: flex;
  flex-direction: column;
  }
}

/* moviles */
@media (max-width: 600px) {
  header {
    padding: 15px 20px;
  }

  .logo {
    font-size: 1.8em;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .slide {
    padding: 40px 20px;
  }

  .slide-text h2 {
    font-size: 1.4em;
  }

  .slide img {
    width: 100%;
  }

  .intro h3 {
    font-size: 1.1em;
  }

  .talleres h2 {
    font-size: 1.6em;
  }

  .taller img {
    width: 100%;
  }

  .talleres-secundarios {
    flex-direction: column;
    align-items: center;
  }

  .talleres-secundarios .taller {
    width: 100%;
    height: 50%;
  }
  #ejemplo-tarjetas{
  height: auto;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
  .tarjetas0, .tarjetas1, .tarjetas2{
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 252, 252);
  flex-direction: column;
  margin: 20px;
  padding: 80px;
}
 .espacio-galeria{
    grid-template-columns: 1fr;
}

  .contacto h2 {
    font-size: 1.6em;
  }

  .datos p {
    font-size: 0.95em;
  }
}